{% extends "base.html" %}
{% block title %}Register your blackbox{% endblock %}

{% block sidebarmenu %}
{% endblock %}

{% block NOnavbar %}
{% endblock %}

{% block NOfooter %}
{% endblock %}

{%block NOspecificjs %}
{% endblock %}



{% block mainpanelclass %}main-panel-wide{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-sm-12 card">
        <div class="card-header">
            <h1>Register</h1>
        </div>
        <!-- small box -->
        <div class="card-body">
            <p>
                Om de blackbox te kunnen gebruiken dient u het apparaat te activeren.
            </p>
            <ul>
                <li>Login or Signup.</li>
                <li>Activatie-code</li>
                <li>Check </li>
                <li>..</li>
                <li>..</li>
            </ul>
        </div>
    </div>
    <!-- ./col -->

    <!-- ./col -->
</div>
{% endblock %}
