{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">

</style>
{% endblock %}
{% block sidebar %}
<ul class="nav">
    <li class="nav-item ">
        <a class="nav-link" href="/">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>

    <li class="nav-item ">
        <a class="nav-link" href="./whitelist">
            <i class="material-icons">library_books</i>
            <p>Personal whitelist</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="./blacklist">
            <i class="material-icons">library_books</i>
            <p>Personal blacklist</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="./network">
            <i class="material-icons">device_unknown</i>
            <p>network devices</p>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="./groups">
            <i class="material-icons">account_tree</i>
            <p>groups</p>
        </a>
    </li>

    <li class="nav-item active-pro ">
        <a class="nav-link" href="./upgrade.html">
            <i class="material-icons">unarchive</i>
            <p>Upgrade to PRO</p>
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header ">
        <h3 class="card-title">x</h3>
        <p class="card-category">
y
        </p>
    </div>

</div>
{% endblock %}

{% block footer %}
<div class="container-fluid">
    <nav class="float-left">

    </nav>
    <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.surfwijzer.nl" target="_blank">Surfwijzer</a> for a better web.
    </div>
</div>
{% endblock %}
