{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">

</style>
{% endblock %}
{% block sidebar %}
<ul class="nav">
    <li class="nav-item ">
        <a class="nav-link" href="/">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="./whitelist">
            <i class="material-icons">library_books</i>
            <p>Personal whitelist</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="./blacklist">
            <i class="material-icons">library_books</i>
            <p>Personal blacklist</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="./network">
            <i class="material-icons">device_unknown</i>
            <p>network devices</p>
        </a>
    </li>

    <li class="nav-item ">
        <a class="nav-link" href="./groups">
            <i class="material-icons">account_tree</i>
            <p>groups</p>
        </a>
    </li>

    <li class="nav-item active-pro ">
        <a class="nav-link" href="./upgrade.html">
            <i class="material-icons">unarchive</i>
            <p>Upgrade to PRO</p>
        </a>
    </li>
</ul>
{% endblock %}



{% block content%}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box" id="add-group">
                    <!-- /.box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Add a new whitelisted domain
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="ex1">Domain:</label>
                                <input id="new_domain" type="text" class="form-control" placeholder="Domain to be added">
                            </div>
                            <div class="col-md-2">
                                <label for="ex2">Type:</label>
                                <select id="new_type" class="form-control">
                                    <option value="0">Exact whitelist</option>
                                    <option value="2">Regex whitelist</option>
                                    <option value="2W">Wildcard whitelist</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="ex3">Comment:</label>
                                <input id="new_comment" type="text" class="form-control" placeholder="Domain description (optional)">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer clearfix">
                        <button id="btnAdd" class="btn btn-primary pull-right">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box" id="add-group">
                    <!-- /.box-header -->
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            List of whitelisted domains
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="domainsTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Domain</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Comment</th>
                                <th>Group assignment</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                        </table>
                        <button type="button" id="resetButton" hidden="true">Reset sorting</button>
                    </div>
                    <div class="box-footer clearfix">
                        <button id="btnAdd" class="btn btn-primary pull-right">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block footer %}
<div class="container-fluid">
    <nav class="float-left">

    </nav>
    <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.surfwijzer.nl" target="_blank">Surfwijzer</a> for a better web.
    </div>
</div>
{% endblock %}
